


.header{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 24pt;
    font-family: Menlo, monospace;
}

.body{
    padding-bottom: 10mm;
    padding-top: 10mm;
}

.footer{
    display: flex;
    justify-content: center;
    color: limegreen;
    font-size: 24pt;
    font-family: Menlo, monospace;

}


h1, h2{
    width: 100%;
    font-family: Menlo, monospace;
}

h1{
    font-size: 40pt;
}

h2{
    font-size: 30pt;
}

.quote{
    font-style: italic;
    font-weight: bold;
}


p{
    margin: auto;
    width: 100%;
    font-size: 12pt;
    padding-bottom: 30pt;
    font-family: sans-serif;
}

a{
    width: 50%;
    margin: auto;
    text-decoration: none;
    color: orangered;
    display: block;
}

#intro{
    font-size: 20pt;
    font-weight: bold;
}

img{
    max-height: 50%;
    display: block;
    margin: auto;
    margin-top: 12pt;
    margin-bottom: 12pt;
    break-after: always;
}



#wrapper{
    display: none;
}




