



<div class="paper masterPage">

    <div class='crops'>
        <div class='crop-top-left'>
            <span class='bleed'></span>
        </div>
        <div class='crop-top-right'>
            <span class='bleed'></span>
        </div>
        <div class='crop-bottom-right'>
            <span class='bleed'></span>
        </div>
        <div class='crop-bottom-left'>
            <span class='bleed'></span>
        </div>
    </div>

    <div class="page">
        <div class="header"></div>

        <div class="body"></div>
        <div class="footer"></div>
    </div>
</div>